<div class="container-cadastro">
    <h1>Cadastro de Usuários</h1>

    @if (usuarios.length === 0) {
    <p class="empty-message">Nenhuma categoria encontrada.</p>
    } @else {
    <table>
        <thead>
            <tr>
                <th width="93%">Nome</th>
                <th width="7%">Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (usuario of usuarios; track usuario.id) {
            <tr>
                <td>{{ usuario.nome }}</td>
                <td class="actions">
                    <div class="icons">
                        <button class="icon-button" title="Alterar" (click)="alterar(usuario.id)">
                            <i class="fas fa-edit"></i>
                        </button>&nbsp;
                        <button class="icon-button" title="Excluir" (click)="excluir(usuario.id)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="container-botao-incluir">
        <button class="botao-inferior" (click)="abrirTelaIncluirUsuario()">
            Incluir
        </button>
    </div>
    }
</div>

<aside class="sidebar-direita">
    <div class="filtros">
        <h3>FILTROS</h3>

        <label for="nome">
            <input [(ngModel)]="filtrarNome" id="nome" type="text" placeholder="Nome" />
        </label>

        <label for="cpf">
            <input [(ngModel)]="filtrarCpf" id="cpf" type="text" placeholder="CPF" />
        </label>

        <label for="email">
            <input [(ngModel)]="filtrarEmail" id="email" type="text" placeholder="Email" />
        </label>

        <label for="ativo">
            <input [(ngModel)]="filtrarAtivo" id="ativo" type="text" placeholder="Ativo" />
        </label>
        <div class="buttons">
            <button class="adicionar" (click)="adicionarFiltros()">Adicionar</button>
            <button class="limpar" (click)="limparFiltros()">Limpar</button>
        </div>
    </div>
</aside>
