<div class="lista-cadastro">
  <h1>Lista de Produtos</h1>

    @if (produtos.length === 0) {
      <p class="empty-message">Nenhum produto encontrado.</p>
    } @else {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="60%">Nome</th>
                    <th scope="col" width="20%">Preço</th>
                    <th scope="col" width="20%">Ações</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco}}</td>
                    <td>
                      <button class="icon-button edit" aria-label="Alterar produto" (click)="alterar(produto.id)">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="icon-button delete" aria-label="Excluir produto" (click)="excluir(produto.id)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>                
                </tr>
            </tbody>
        </table>

    }
  </div>

  <button class="icon-button add" aria-label="Incluir produto" (click)="abrirTelaIncluirProduto()">Incluir Produto</button>
