<section>
    <div *ngIf="produtosCarrinho.length > 0" class="carrinho-produtos">
        <div *ngFor="let item of produtosCarrinho" class="produto-venda">
            <div>
                <img src="{{item.produto.urlImagem}}" alt="{{ item.produto.nome }}" width="150" height="150" loading="lazy">
            </div>
            <div class="produtos-info">
                <h4>{{ item.produto.nome }}</h4>
                <p>{{ item.produto.descricao }}</p>
                <p id="preco">R$ {{ item.produto.preco }}</p>
            </div>
            <div class="produto-quantidade">
                <p>Quantidade: {{ item.quantidade }}</p>
            </div>
        </div>
    </div>
</section>


<aside class="sidebar-direita">
    <div class="resumo">
        <h3>RESUMO</h3>
        <p>Valor dos produtos {{ valorTotal }}</p>
        <div class="buttons">
            <button>Continuar</button>
            <button>Voltar</button>
        </div>
    </div>
</aside>