<header>
  <div class="logo"> <a href="#">LOJA VIRTUAL</a></div>
  <div class="search-bar">
    <input type="text" placeholder="Buscar produtos...">
    <i  class="fas fa-search dropbtn"></i>
  </div>
  <div class="icons">
    <i class="fas fa-shopping-cart"></i>
    <div class="dropdown">
      <i class="fas fa-user dropbtn"></i>
      <div class="dropdown-content">
        <a href="/produtos/listar">Cadastro de Produtos</a> <!-- Futuramente só vai aparecer para usuário com perfil Administrador -->
        <a href="#">Cadastro de Categorias</a> <!-- Futuramente só vai aparecer para usuário com perfil Administrador -->
        <a href="/usuarios/listar">Cadastro de Usuários</a>
        <a href="#">Meus Pedidos</a>
      </div>
    </div>
    <i class="fas fa-sign-out-alt"></i>
  </div>
</header>

<main>
  <aside class="sidebar-esquerda">
    <div class="categorias">
      <h3>DEPARTAMENTOS</h3>
      <ul>
        <li>Eletrônicos</li>
        <li>Roupas</li>
        <li>Calçados</li>
        <li>Acessórios</li>
      </ul>
    </div>
  </aside>
  <router-outlet></router-outlet>
</main>
