/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

$primary-color: black;
$gray-light: #f5f5f5;
$gray-dark: #333;
$font-stack: 'Montserrat', 'Helvetica Neue', Helvetica, Arial;

body {
  margin: 2rem;
  font-family: $font-stack;
  background-color: white;
  color: $gray-dark;
}


header {
  font-family: $font-stack;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;

  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: $primary-color;
  }

  .logo a {
    text-decoration: none;
    color: $primary-color;
  }

  .search-bar {
    flex: 1;
    margin: 0 2rem;

    input {
      width: 80%;
      padding: 0.6rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    i {
      margin-left: -30px;
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    gap: 1rem;

    i {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  font-family: $font-stack;

  .sidebar-esquerda {
    width: 275px;
    background-color: white;
    padding: 1rem;
    border-right: 1px solid #ccc;

    .categorias {
      // margin-bottom: 2rem;
      border: 1px solid $primary-color;
      padding: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: $primary-color;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.8rem;
        padding: 0.7rem;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          background-color: rgb(207, 8, 8);
          color: white;
        }
      }
    }
  }

  app-listar-categorias,
  app-listar-produtos,
  app-listar-usuarios {
    display: flex;
    width: 100%;
  }

  .sidebar-direita {
    width: 275px;
    background-color: white;
    padding: 1rem;
    border-right: 1px solid #ccc;

    .filtros {
      // margin-bottom: 2rem;
      border: 1px solid $primary-color;
      padding: 1rem;

      h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: $primary-color;
      }

      label {
        display: flex;
        margin-bottom: 0.8rem;
        padding: 0.7rem;
      }

      input {
        padding: 0.5rem;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem;

        .adicionar,
        .limpar {
          color: white;
          border-color: $gray-light;
        }

        button {
          width: 90px;
          padding: 0.5rem;
          margin-bottom: 0.8rem;
          cursor: pointer;
          border: none;
          border-radius: 2px;
        }

      }

    }
  }

}

.lista-produtos-venda {
  flex: 1;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.produto-venda {
  background-color: white;
  padding: 1rem;
  border: 1px solid $primary-color;
  border-radius: 6px;
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  h4 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  /*   button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  } */
}

.container-cadastro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  table {
    thead {
      tr {
        th {
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td {
          height: 60px;
        }
      }
    }
  }
}

/* .item-cadastro {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
 */
button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;

  &:hover {
    background-color: #cccccc;
  }
}


.container-botoes-inferiores, .container-botao-incluir {
  display: flex;
  margin-top: 20px;
}

.container-botao-incluir {
  justify-content: center;
}
.botao-inferior {
  width: clamp(25%, 250px, 200px);
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.icon-button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.include {
  background-color: rgb(8, 8, 207);
  color: white;

  &:hover {
    background-color: #1f53d7;
  }
}

.edit {
  background-color: #4CAF50;
  color: white;

  &:hover {
    background-color: rgb(8, 207, 8);
  }
}

.delete {
  background-color: rgb(207, 8, 8);
  color: white;

  &:hover {
    background-color: #F44336;
  }
}

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea,
  select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
    height: 2.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
}
#habilitarNotificacoesPromocoes {
    display: flex;
    justify-content: space-between;
    margin: 0;

    input {
      width: 15px;
      height: auto;
    }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -15px;

    a {
      color: $gray-dark;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: rgb(207, 8, 8);
        color: white;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}